/* reset styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
  }
  body {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
  }
  header{
      color: black;
      padding: 15px;
      text-align: center;
  }
  h1{
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin-top: 40px;
  }
  h1::before{
    content: '';
    position: absolute;
    width: 150px;
    height: 3px;
    background-color: #76ABAE;
    bottom: -10px;
    left: 43%;
    transform: (-50%);
    animation: animate 4s linear infinite;
  }
  @keyframes animate {
    0%{
        width:100px;
    }
    50%{
        width:250px;
    }
    100%{
        width:100px;
    }
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid #000; /* Add this line */
}
  nav ul li {
      float: left;
  }
  nav ul li a{
      display: block;
      color:black;
      text-align: center;
      padding: 20px 30px;
      text-decoration: none;
      font-weight: bold;
      margin-top: 5px;
  }
  nav ul li a:hover{
      background-color: #76ABAE;
  }
  main{
      padding: 20px;
  }
  .photo-gallery{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  .pic{
    position: relative;
    height: 300;
    border-radius: 10px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
  }
  .pic img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .pic::before{
    content: "ART GALLERY";
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    margin-top: -250px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
  }
  .pic::after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    height: 0;
    background-color: rgba(0,0,0,.4);
    transition: .3s;
  }
  .pic:hover::after{
    height: 100%;
  }
  .pic:hover::before{
    margin-top: 0;
    opacity: 1;
  }
  section{
    margin-bottom: 20px;
    margin-left: 20px;
}
h2, h3{
    margin-bottom: 20px;
    color: #76ABAE;
}
.slider{
    padding: 15px;background-color: white;
    margin: 15px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-height: 300px;
    display: flex;
    overflow-x: auto;
    column-gap: 20px;
}
.slider::-webkit-scrollbar{
    width: 0;
}
.sliderPic img{
    height: 270px;
}
article{
    padding: 15px;background-color: white;
    margin: 15px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
form{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1)
}
input[type="text"], input[type="email"], textarea{
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-sizing: border-box;

}
input[type="submit"]{
    width:"100%";
    background-color: #76ABAE;
    color: white;
    padding: 14px 20px;
    margin: 8px 0 ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: #547a7c;
}
  footer{
      background-color: #76ABAE;
      color: white;
      text-align: center;
      padding: 10px 0;
      position: fixed;
      bottom: 0;
      width: 100%;
  }
 
  